*.mov filter=lfs diff=lfs merge=lfs -text
img/Entrevista[[:space:]]finnal[[:space:]](1).mov filter=lfs diff=lfs merge=lfs -text
img/Entrevista[[:space:]]final[[:space:]](1).mov filter=lfs diff=lfs merge=lfs -text
